/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body__conatiner {
  background: linear-gradient(
    0deg, rgba(2,0,36,1) 0%,
    rgba(9,9,121,0.8) 35%,
    rgba(0,212,255,6) 100%
  );
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-container {
  position: relative;
  margin: auto;
  background: linear-gradient(0deg, rgba(255,89,30,1) 0%, rgba(255,235,30,1) 100%);
  z-index: 1;
}

.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(255,235,30,1),
    rgba(255,235,30,1) 20px,
    rgba(0, 0, 0, 0.0) 20px,
    rgba(0, 0, 0, 0.0) 40px
  );
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  padding: 60px 0;
  width: 800px;
}

.btn-container {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.btn-container button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  background-color: orange;
  color: #6E1303;
  box-shadow: 2px 2px 5px black;
}

.wrapper {
  width: 100%;
  height: 375px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content i {
  flex-shrink: 0;
  font-size: 60px;
  cursor: pointer;
  color: #E82009;
  text-shadow: 2px 2px 5px black;
}

.content img {
  width: 600px;
}

.bullet {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.bullet i {
  font-size: 20px;
  margin: 5px;
}


.bullet i.active {
  color: yellow;
}
